.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.Home h1 {
  margin-top: 10rem;
  font-size: 8rem;
  color: rgb(15, 143, 234);
  font-weight: bold;
}

.Home p {
  font-size: 3rem;
}

.Home-buttons Button {
  margin: 1rem;
  height: 4rem;
  width: 10rem;
  font-size: 2rem;
  background-color: white;
  color: rgb(15, 143, 234);
  border-color:rgb(15, 143, 234);
  border-width: 2px;
}

.Home-buttons Button:hover {
  box-shadow: 2px 2px 5px 2px rgba(142, 142, 142, 0.6);
  background-color: rgb(15, 143, 234);
  border-color:rgb(15, 143, 234);
}